@mixin telephoneStyle {
	color: #444;
	text-decoration: none;
	transition: all 0.3s ease-in;
}

@mixin print {
	@media print {
		@content;
	}
}

$mainColor: #00c99d;

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

li {
	list-style-type: square;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* We need to minimize the use of code, so we will be using roots...this is in the works */
:root {
	--highlight: #a29400;
	--header-font: "Gudea", Helvetica, Arial, sans-serif;
	--content-font: "Lato", Helvetica, Arial, sans-serif;
}

html,
body {
	background: #fff;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
	font-size: 1rem;
	color: #222;
}

.clear {
	clear: both;
}

#menu {
	position: fixed;
	right: 0;
	top: 15%;
	width: 8em;
	margin-top: -2.5em;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
	transition: all 1s linear;
}

a {
	color: inherit;
}

.cv {
	max-width: 54rem;
	background: #fff;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid $mainColor;
	background: #f3f3f3;
}

#name h1 {
	font-size: 2.5em;
	//font-weight: 700;
	font-family: "Gudea", Helvetica, arial, sans-serif;
	//font-feature-settings: "caps", "sups" 1;
	//margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	// margin-left: 2px;
	font-family: "Gudea", Helvetica, arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

.wrap {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
	}

	@include print {
        box-shadow: none !important;
        transition: none;
	}
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	img {
		width: 100%;
		height: auto;
		border-radius: 50px;
	}
}

#name {
	float: left;
}

#contactDetails {
	float: right;

	ul {
		list-style-type: none;
		font-size: 0.9em;
		margin-top: 2px;
		li {
			margin-bottom: 3px;
			color: #444;
			display: inline;

			a {
				@include telephoneStyle();

				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}

a[href^="tel"] {
	@include telephoneStyle();
}

.experience:not(:first-child) {
	margin-top: 1em;
}

.experience:last-child {
	margin-bottom: 1em;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: "Gudea", helvetica, arial, sans-serif;
	font-size: 0.89em;
	color: $mainColor;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sectionContent h2 {
	font-family: "Gudea", helvetica, arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 80%;
	//font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	column-count: 3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}

	.keySkills {
		column-count: 2;
	}
}

@media all and (max-width: 54rem) {
	.cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
		transition: all 0.25s linear;
	}

	#headshot {
		display: none;
	}

	#name,
	#contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	.sectionTitle,
	.sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills {
		column-count: 2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}

	.keySkills {
		column-count: 1;
	}

	#name h1 {
		line-height: 0.8em;
		margin-bottom: 4px;
	}
}

@include print {
	.cv {
        width: 100%;
        margin: 0;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// .instaFade {
// 	animation-name: reset, fade-in;
// 	animation-duration: 1.5s;
// 	animation-timing-function: ease-in;
// }

// .quickFade {
// 	animation-name: reset, fade-in;
// 	animation-duration: 2.5s;
// 	animation-timing-function: ease-in;
// }

// .delayOne {
// 	animation-delay: 0, 0.5s;
// }

// .delayTwo {
// 	animation-delay: 0, 1s;
// }

// .delayThree {
// 	animation-delay: 0, 1.5s;
// }

// .delayFour {
// 	animation-delay: 0, 2s;
// }

// .delayFive {
// 	animation-delay: 0, 2.5s;
// }
